@tailwind base;
@tailwind components;
@tailwind utilities;

@import './styles/editor.css';
@import './styles/index.css';
@import './styles/partials/animations.css';
@import './styles/partials/blocks.css';
@import './styles/partials/code.css';
@import './styles/partials/collab.css';
@import './styles/partials/lists.css';
@import './styles/partials/placeholder.css';
@import './styles/partials/table.css';
@import './styles/partials/typography.css';

@font-face {
  font-family: 'SF Pro Display';
  font-weight: 400;
  src: url('/fonts/SF-Pro-Display-Medium.otf');
}

@layer base {
  html {
    font-family: 'SF Pro Display', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
      'Helvetica Neue', Arial, sans-serif !important;
  }

  [type='text']:focus,
  input:where(:not([type])):focus,
  [type='email']:focus,
  [type='url']:focus,
  [type='password']:focus,
  [type='number']:focus,
  [type='date']:focus,
  [type='datetime-local']:focus,
  [type='month']:focus,
  [type='search']:focus,
  [type='tel']:focus,
  [type='time']:focus,
  [type='week']:focus,
  [multiple]:focus,
  textarea:focus,
  select:focus {
    box-shadow: none;
  }

  :root {
    /* Variables */
    --theme-bg: var(--theme-elevation-0);
    --theme-input-bg: var(--theme-elevation-0);
    --theme-text: var(--theme-elevation-800);
    --theme-overlay: rgba(5, 5, 5, 0.5);
    --font-body: 'Suisse Intl', system-ui;
    --font-mono: monospace;
    --font-serif: 'Merriweather', serif;
    --style-radius-s: 4px;
    --style-radius-m: 8px;
    --style-radius-l: 16px;
    --nav-width: 275px;

    /* Color Shades */
    --color-base-0: #ffffff;
    --color-base-50: #f1f1f1;
    --color-base-100: #e2e2e2;
    --color-base-150: #d4d4d4;
    --color-base-200: #c6c6c6;
    --color-base-250: #b7b7b7;
    --color-base-300: #a9a9a9;
    --color-base-350: #9b9b9b;
    --color-base-400: #8c8c8c;
    --color-base-450: #7e7e7e;
    --color-base-500: #2d2d2d;
    --color-base-550: #2a2a2a;
    --color-base-600: #272727;
    --color-base-650: #242424;
    --color-base-700: #202020;
    --color-base-750: #1d1d1d;
    --color-base-800: #1a1a1a;
    --color-base-850: #171717;
    --color-base-900: #131313;
    --color-base-950: #101010;
    --color-success-0: #ffffff;
    --color-success-50: #f1faf6;
    --color-success-100: #e3f5ed;
    --color-success-150: #d5efe4;
    --color-success-200: #c8eadb;
    --color-success-250: #bae5d3;
    --color-success-300: #ace0ca;
    --color-success-350: #9edac1;
    --color-success-400: #90d5b8;
    --color-success-450: #82d0af;
    --color-success-500: #34ad7a;
    --color-success-550: #30a071;
    --color-success-600: #2d9468;
    --color-success-650: #298860;
    --color-success-700: #257b57;
    --color-success-750: #226f4e;
    --color-success-800: #1e6346;
    --color-success-850: #1a563d;
    --color-success-900: #164a34;
    --color-success-950: #133e2b;
    --color-warning-0: #ffffff;
    --color-warning-50: #fff9ed;
    --color-warning-100: #fff3dc;
    --color-warning-150: #ffeeca;
    --color-warning-200: #ffe8b9;
    --color-warning-250: #ffe2a7;
    --color-warning-300: #ffdc95;
    --color-warning-350: #ffd684;
    --color-warning-400: #ffd172;
    --color-warning-450: #ffcb61;
    --color-warning-500: #f6a500;
    --color-warning-550: #e59900;
    --color-warning-600: #d38e00;
    --color-warning-650: #c18200;
    --color-warning-700: #b07600;
    --color-warning-750: #9e6a00;
    --color-warning-800: #8d5e00;
    --color-warning-850: #7b5300;
    --color-warning-900: #6a4700;
    --color-warning-950: #583b00;
    --color-error-0: #ffffff;
    --color-error-50: #fff3f1;
    --color-error-100: #ffe8e2;
    --color-error-150: #ffdcd4;
    --color-error-200: #ffd0c6;
    --color-error-250: #ffc5b8;
    --color-error-300: #ffb9a9;
    --color-error-350: #ffad9b;
    --color-error-400: #ffa28d;
    --color-error-450: #ff967f;
    --color-error-500: #f6532e;
    --color-error-550: #e54d2b;
    --color-error-600: #d34728;
    --color-error-650: #c14124;
    --color-error-700: #b03b21;
    --color-error-750: #9e351e;
    --color-error-800: #8d2f1a;
    --color-error-850: #7b2a17;
    --color-error-900: #6a2414;
    --color-error-950: #581e11;
    --color-accent-0: #ffffff;
    --color-accent-50: #fbedef;
    --color-accent-100: #f8dcdf;
    --color-accent-150: #f4cacf;
    --color-accent-200: #f1b9be;
    --color-accent-250: #eda7ae;
    --color-accent-300: #ea959e;
    --color-accent-350: #e6848e;
    --color-accent-400: #e3727e;
    --color-accent-450: #df616e;
    --color-accent-500: #c50014;
    --color-accent-550: #b70013;
    --color-accent-600: #a90011;
    --color-accent-650: #9b0010;
    --color-accent-700: #8d000e;
    --color-accent-750: #7f000d;
    --color-accent-800: #71000c;
    --color-accent-850: #62000a;
    --color-accent-900: #540009;
    --color-accent-950: #460007;

    /* Theme Accent Colors */
    --theme-accent-0: var(--color-accent-0);
    --theme-accent-50: var(--color-accent-50);
    --theme-accent-100: var(--color-accent-100);
    --theme-accent-150: var(--color-accent-150);
    --theme-accent-200: var(--color-accent-200);
    --theme-accent-250: var(--color-accent-250);
    --theme-accent-300: var(--color-accent-300);
    --theme-accent-350: var(--color-accent-350);
    --theme-accent-400: var(--color-accent-400);
    --theme-accent-450: var(--color-accent-450);
    --theme-accent-500: var(--color-accent-500);
    --theme-accent-550: var(--color-accent-550);
    --theme-accent-600: var(--color-accent-600);
    --theme-accent-650: var(--color-accent-650);
    --theme-accent-700: var(--color-accent-700);
    --theme-accent-750: var(--color-accent-750);
    --theme-accent-800: var(--color-accent-800);
    --theme-accent-850: var(--color-accent-850);
    --theme-accent-900: var(--color-accent-900);
    --theme-accent-950: var(--color-accent-950);
    --theme-accent-1000: var(--color-accent-1000);
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  /* Nav Button */
  .hamburger__wrapper {
    background-color: var(--theme-elevation-100);
    border: 1px solid var(--theme-elevation-200);
  }
  .hamburger:before {
    background-color: var(--theme-elevation-100);
    border: 1px solid var(--theme-elevation-200);
  }
  .hamburger:after {
    background-color: var(--theme-elevation-100);
    border: 1px solid var(--theme-elevation-200);
  }

  /* Nav Group Toggle (empty) */
  .nav-group__toggle {
  }

  /* Nav Group Icon */
  .nav-group__indicator svg .stroke {
    stroke: var(--theme-elevation-700);
  }

  /* Nav Group Label */
  .nav-group__label {
    color: var(--theme-elevation-700);
  }

  /* Nav */
  .nav {
    background-color: var(--theme-elevation-100);
  }

  /* Dashboard Card Labels */
  .dashboard__label {
    fontfamily: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

  /* Dashboard Card */
  .card {
    background-color: var(--theme-elevation-100);
    border: 1px solid var(--theme-elevation-200);
  }

  /* Dashboard Card Title */
  .card__title {
    fontfamily: Impact;
  }

  /* Dashboard Card Action Button (empty) */
  .card__actions {
  }

  /* Background (empty) */
  .template-default__wrap {
  }

  /* Primary Button */
  .btn--style-primary {
    background-color: var(--theme-elevation-900);
  }

  /* Pill (empty) */
  .pill {
  }

  /* Input Field */
  .field-type.text:not(.has-many) input {
    border: 1px solid var(--theme-elevation-200);
  }

  /* Document Header (empty) */
  .doc-header__title {
  }

  /* Success Toast Close Button (empty) */
  .Toastify .Toastify__close-button--success {
  }

  /* Success Toast Progress Bar (empty) */
  .Toastify .Toastify__toast--success .Toastify__progress-bar {
  }

  /* Success Toast (empty) */
  .Toastify .Toastify__toast--success {
  }

  /* Success Toast Close Button (empty) */
  .Toastify .Toastify__close-button--error {
  }

  /* Success Toast Progress Bar (empty) */
  .Toastify .Toastify__toast--error .Toastify__progress-bar {
  }

  /* Success Toast (empty) */
  .Toastify .Toastify__toast--error {
  }

  /* Collapsible */
  .collapsible {
    border-radius: 4px;
  }

  /* Collapsible Content */
  .collapsible__content {
    background-color: var(--theme-elevation-0);
  }

  /* Collapsible Toggle */
  .collapsible--style-default > .collapsible__toggle-wrap .collapsible__toggle {
    background-color: var(--theme-elevation-50);
  }

  /* Collapsible Style Default */
  .collapsible--style-default {
    border: 1px solid var(--theme-elevation-200);
  }

  /* Table Row Odd */
  .table tbody tr:nth-child(odd) {
    background-color: var(--theme-elevation-50);
  }

  /* Search Filter Wrapper (empty) */
  .list-controls__wrap {
  }

  /* Search  Input (empty) */
  .search-filter__input {
  }

  html[data-theme='dark'] {
    /* Dark Theme Colors */
    --theme-accent-0: var(--color-accent-900);
    --theme-accent-50: var(--color-accent-850);
    --theme-accent-100: var(--color-accent-800);
    --theme-accent-150: var(--color-accent-750);
    --theme-accent-200: var(--color-accent-700);
    --theme-accent-250: var(--color-accent-650);
    --theme-accent-300: var(--color-accent-600);
    --theme-accent-350: var(--color-accent-550);
    --theme-accent-400: var(--color-accent-450);
    --theme-accent-450: var(--color-accent-400);
    --theme-accent-550: var(--color-accent-350);
    --theme-accent-600: var(--color-accent-300);
    --theme-accent-650: var(--color-accent-250);
    --theme-accent-700: var(--color-accent-200);
    --theme-accent-750: var(--color-accent-150);
    --theme-accent-800: var(--color-accent-100);
    --theme-accent-850: var(--color-accent-50);
    --theme-accent-900: var(--color-accent-0);
    --theme-accent-950: var(--color-accent-0);
    --theme-accent-1000: var(--color-accent-0);
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

:focus-visible {
  outline: 0 !important;
  outline-width: 0 !important;
  outline-offset: 0 !important;
}

::-webkit-scrollbar {
  width: 0.7em;
  height: 0.7em;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
  display: block;
  height: 0.7em;
}

::-webkit-scrollbar-button:vertical:increment {
  background-color: transparent;
}

::-webkit-scrollbar-track-piece {
  background-color: transparent;
  -webkit-border-radius: 0.7em;
}

::-webkit-scrollbar-thumb:vertical {
  width: 0.7em;
  background-color: var(--theme-elevation-100);
  -webkit-border-radius: 0.7em;
}

::-webkit-scrollbar-thumb:horizontal {
  width: 0.7em;
  background-color: transparent;
  -webkit-border-radius: 0.7em;
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
::-webkit-scrollbar-corner {
  width: 0;
  height: 0;
}
